<!doctype html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="bg-gray-300 flex justify-center items-center h-[600px]">
    <div id="main" class="relative h-[400px] w-[800px] rounded-md flex justify-around bg-white items-center shadow-xl shadow-slate-500">

        <div class="flex flex-col justify-around items-center h-full w-[300px] rounded-md bg-gradient-to-r from-green-400 to-lime-500 translate-x-[-25px]">
            <h1 class="font-bold text-4xl absolute top-[50px]">Login</h1>

            <div id="form">
                <form action="/trans" id="loginBox" class="flex flex-col justify-around items-center" method="post">
                    <input name="email" placeholder="Email" type="email" id="loginInput"
                        class="m-2 h-[30px] w-[200px] p-2 border-[2px] rounded-md" required />
                    <input name="password" placeholder="Password" type="password" id="loginInput"
                        class="m-2 h-[30px] w-[200px] p-2 border-[2px] rounded-md" required />
                    <button id="loginButton" class="translate-y-[50px] h-8 w-32 bg-lime-400 rounded-xl"
                        type="submit">Sign
                        In</button>

                    <button id="loginRegisterButton" class="absolute h-8 w-44 bottom-12 m-2 text-sm"
                        onclick="redirectToSignup(event)">Don't have a Account?</button>
                </form>
            </div>
        </div>
        <img src="/images/login.png" alt="login" class="h-[400px] w-[400px]">
    </div>
</body>

<!-- 
<script>
    function goToLoginPage() {
      window.location.href = './signUp.html';
    }
    </script> -->

</html>
<!-- email name password confirm password -->

<script>
    function redirectToSignup(event) {
        event.preventDefault(); // Prevent the default form submission behavior
        window.location.href = "/"; // Change "/login" to the appropriate route or URL for the login page
    }
</script>